.products-container {
  height: calc(100vh - 4rem);
  margin-top: 5rem;
  padding: 0 2rem 2rem 2rem;
  overflow: auto;

  .page-header {
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: #fff;
  }

  .page-title {
    font-size: 1rem;
    font-weight: 600;
    color: #5a3e36;
    margin-bottom: 1.5rem;
  }

  .products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-items: center;
    padding: 1rem;
    gap: 1.5rem;
    margin-top: 2rem;

    .title {
      background: #fff;
      // border-radius: 10px;
      padding: 1rem;
      text-align: center;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      transition:
        transform 0.3s ease,
        box-shadow 0.3s ease;
      cursor: pointer;
      width: 100%;
      height: 100%;

      &:hover {
        transform: translateY(-10px) scale(1.03);
        box-shadow: 0 12px 20px rgba(0, 0, 0, 0.25);
      }

      img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        // border-radius: 8px;
      }

      h5 {
        margin: 0.5rem 0;
        font-size: 1rem;
        font-weight: 600;
      }

      p {
        margin: 0.2rem 0;
      }

      .product-description {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
        color: #555;
        font-size: 0.95rem;
        line-height: 1.4;
      }
    }
  }
}

.actions {
  opacity: 0;
  pointer-events: none;
  transform: translateY(10px);
  display: none;
}

.title:hover .actions {
  display: flex;
  opacity: 1;
  gap:0.5rem;
}

.actions button {
  flex: 1;
  padding: 8px;
  cursor: pointer;
}

/* Wishlist border */
.wishlist-btn {
  // background: #fff;
  // border: 1px solid #ccc;
  // color: #333;
}

/* Add button */
.add-btn {
  // background: #ff3f6c;
  // color: #fff;
  // border: none;
}

/* Hover reveal */
.title:hover .actions {
  opacity: 1;
  transform: translateY(0);
  pointer-events: all;
}
