.cart-wrapper {
  display: flex;
  justify-content: center;
  padding: 40px 20px;
  max-height: 100%; 
  overflow-y: auto;
}

.cart-container {
  width: 100%;
  max-width: 1100px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 30px;
}

/* ----- LEFT SECTION ----- */
.cart-items {
  display: flex;
  flex-direction: column;
  gap: 20px;

  img{
    height: 5rem;
  }
}

.cart-item {
  display: flex;
  gap: 20px;
  background: #fff;
  padding: 16px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.07);
  align-items: center;
}

.item-img {
  width: 100px;
  height: 120px;
  object-fit: cover;
  border-radius: 12px;
}

.item-details {
  flex: 1;
}

.item-name {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
}

.item-price {
  font-size: 16px;
  font-weight: 600;
  margin: 6px 0;
}

.item-meta {
  font-size: 14px;
  color: #555;
  display: flex;
  gap: 20px;
}

/* ----- RIGHT SECTION ----- */
.price-box {
  background: #fff;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.12);
  height: fit-content;
}

.price-box h2 {
  margin-bottom: 20px;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  font-size: 15px;
}

.green {
  color: #0a9d13;
}

.total {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  font-weight: 700;
  font-size: 18px;
  border-top: 1px solid #ddd;
  padding-top: 12px;
}

.checkout-btn {
  width: 100%;
  margin-top: 20px;
  padding: 12px;
  background: #ff3f6c;
  color: white;
  border: none;
  font-size: 16px;
}
