.container {
  display: flex;
  gap: 40px;
  padding: 30px;
  margin-top: 4rem;
}

.left {
  flex: 1;
}

.product-img {
  width: 100%;
  border-radius: 8px;
}

.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.name {
  font-size: 28px;
  font-weight: 600;
}

.brand {
  font-size: 18px;
  color: #666;
}

.active-color {
  border: 2px solid #000 !important;
}

.active-size {
  border: 2px solid #1976d2 !important;
}

.action-btns {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}