@use './breakpoints' as *;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin card-style {
  background: #fff;
  border-radius: 1.25rem;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
}

@mixin transition {
  transition: all 0.3s ease;
}

@mixin mobile {
  @media (max-width: $tablet) {
    @content;
  }
}