// COLORS
$primary-color: #5a49e6;
$primary-hover: #5a49e6;


$text-dark: #111827;
$text-light: #6b7280;

$border-color: #d1d5db;
$danger-color: #dc2626;
$error-text: #dc2626;

$bg-light: #fafafa;
//  #f4f7fb; //#fff5f6
$bg-overlay: #4f46e540;
$bg-orange-color: rgba(253, 217, 217, 0.7803921569);

$white-color: #fff;

// RADIUS
$radius-sm: 0.5rem;
$radius-md: 0.75rem;
$radius-lg: 1.25rem;

// SHADOW
$shadow-card: 0 8px 24px rgba(0, 0, 0, 0.08);

// SPACING
$space-xs: 0.5rem;
$space-sm: 0.75rem;
$space-md: 1rem;
$space-lg: 1.5rem;
$space-xl: 2rem;

// FONT
$font-family: 'Inter', Arial, sans-serif;

// TRANSITION
$transition: all 0.3s ease;
