mat-toolbar {
  width: 100%;
  height: 4rem;
  padding: 0 2rem !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  gap: 10em;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: #fff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
}

.brand {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;

  .brand-icon {
    width: 36px;
    height: 36px;
  }

  .brand-text {
    font-weight: 800;
    font-size: 1.25rem;
    color: #ff3f6c;
    .highlight {
      color: #ff6900;
    }
  }
}

.fav-icon {
  color: #ff3f6c;
}

.cart-icon {
  color: rgba(128, 57, 57, 0.79);
}

.bag-icon {
  width: 2.5rem;
  height: 2.5rem;
}

.search-box {
  flex: 1;
  margin-top: 1rem;
  .search-box {
    width: 100%;

    .mat-mdc-text-field-wrapper {
      width: 100%;
      padding: 0.8rem;
      border: none;
      font-size: 1rem;
      background-color: #f5f5f6;
      outline: none;
    }
  }
}

.username {
  margin-right: 8px;
  font-weight: 500;
  display: flex;
  align-items: center;
}

mat-icon {
  font-size: 22px;
}

.user-section {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.white-menu .mat-mdc-menu-panel {
  background: #fff !important;
}

.white-menu .mat-mdc-menu-item {
  background: #fff !important;
}
