mat-toolbar {
  width: 100%;
  height: 4rem;
  padding: 0 2rem !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  gap: 12em;
  top: 0;
  left: 0;
  z-index: 1000;
}

.logo {
  display: flex;
  align-items: center;
  gap: 6px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  color: rgb(128 57 57 / 79%);
  cursor: pointer;
  user-select: none;
  transition: transform 0.2s ease;
  gap: 0;
  text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);

  span {
    font-style: italic;
    color: deeppink;
  }

  &:hover {
    transform: scale(1.05);
  }
}

.fav-icon {
  color: deeppink;
}

.cart-icon {
  color: rgba(128, 57, 57, 0.79);
}

.bag-icon {
  width: 2.5rem;
  height: 2.5rem;
}

.search-container {
  flex: 1;
  .search-box {
    width: 100%;

    input {
      width: 100%;
      padding: 0.8rem;
      border-radius: 2rem;
      border: 0.5px solid rgba(146, 111, 115, 0.2196078431);
      font-size: 1rem;
    }
  }
}

.username {
  margin-right: 8px;
  font-weight: 500;
   display: flex;
  align-items: center;
}

mat-icon {
  font-size: 22px;
}

.user-section {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
