<section class="register-container">
  <mat-card class="register-card">
    <h2>Create Account</h2>

    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="register-form">
      <div class="form-grid">
        <mat-form-field appearance="outline">
          <mat-label>Full Name</mat-label>
          <input matInput formControlName="name" />
          <app-form-error [control]="form.get('name')"></app-form-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" type="email" />
          <mat-error
            *ngIf="
              form.get('email')?.invalid && (form.get('email')?.dirty || form.get('email')?.touched)
            "
          >
            Please enter a valid email
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Primary Mobile</mat-label>
          <input matInput formControlName="mobilePrimary" />
          <app-form-error [control]="form.get('mobilePrimary')"></app-form-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Secondary Mobile (Optional)</mat-label>
          <input matInput formControlName="mobileSecondary" />
          <app-form-error [control]="form.get('mobileSecondary')"></app-form-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="address-field">
          <mat-label>Address</mat-label>
          <textarea matInput formControlName="address"></textarea>
          <app-form-error [control]="form.get('address')"></app-form-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" />
          <app-form-error [control]="form.get('password')"></app-form-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Confirm Password</mat-label>
          <input matInput type="password" formControlName="confirmPassword" />
          <app-form-error [control]="form.get('confirmPassword')"></app-form-error>
          <mat-error *ngIf="form.hasError('passwordMismatch')"> Passwords do not match </mat-error>
        </mat-form-field>
      </div>

      <div class="form-buttons">
        <button
          mat-raised-button
          class="register-btn"
          color="primary"
          type="submit"
          [disabled]="form.invalid"
        >
          Register
        </button>
        <button
          mat-raised-button
          class="cancel-btn"
          color="Secondary"
          type="submit"
          [disabled]="form.invalid"
        >
          Cancel
        </button>
      </div>

      <p class="login-link">
        Already have an account?
        <a class="link" routerLink="/login">Login here</a>
      </p>
    </form>
  </mat-card>
</section>
