// app-navbar {
//   flex: 0 0 20%;
//   z-index: 10;
// }

// .content-area {
//   flex: 0 0 80%; /* remaining 80% for home content */
//   overflow: hidden;
// }

.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

app-navbar {
  flex: 0 0 auto;  /* navbar takes only its real height */
}

.content-area {
  flex: 1;               /* take all remaining height */
  overflow-y: auto;      /* enable scroll */
  overflow-x: hidden;
}


