<div class="home-container">
  <!-- Banner -->
  <div class="banner">
    <img/>
    <div class="banner-text">Upto <span>50%</span> discount</div>
  </div>

  <!-- Category section -->
  <div class="category-container">
    <div class="category" *ngFor="let c of categories">
      <img [src]="c.image" [alt]="c.name" />
      <h3>{{ c.name }}</h3>
    </div>
  </div>
</div>

<!-- <div class="product-grid">
  <div *ngFor="let product of products" class="product-card">
    <img [src]="product.thumbnail" [alt]="product.title" />
    <h3>{{ product.title }}</h3>
    <p>{{ product.price | currency:'INR' }}</p>
  </div>
</div> -->
