<div class="home-container">
  <!-- Banner -->
  <div class="banner">
    <img />
    <div class="banner-text">Upto <span>50%</span> discount</div>
  </div>

  <!-- Category section -->
  <div class="category-container">
    @for (c of categories; track c.name) {
      <div class="category" (click)="goToCategory(c.name)">
        <img [src]="c.image" [alt]="c.name" />
        <h3>{{ c.name | titlecase }}</h3>
      </div>
    }
  </div>
</div>

<!-- <div class="product-grid">
  <div *ngFor="let product of products" class="product-card">
    <img [src]="product.thumbnail" [alt]="product.title" />
    <h3>{{ product.title }}</h3>
    <p>{{ product.price | currency:'INR' }}</p>
  </div>
</div> -->
