*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Optional: make the body fit the viewport cleanly */
html,
body {
  width: 100%;
  height: 100%;
}

// Commmon syles
.link {
  color: #551a8b;
  text-decoration: none;
  font-weight: 600;

  &:hover {
    text-decoration: underline;
  }
}

